<h2>Estimates</h2>
<h3>Total estimates: {{model.length}}</h3>

<ul>
		<li>
			  <form {{action "createEstimate" on="submit"}}>
			    {{input type="text" placeholder="New Estimate" value=title}}
			    <button type="submit">Add</button>
			  </form>
		</li>
		{{#each model as |estimate|}}
			{{estimate-item estimate=estimate}}
		{{/each}}
</ul>

{{outlet}}
